---
---
<% current, *recent = *blog.articles.first(4) %>
<article>
  <header>
    <h1><%= link_to current.title, current %> </h1>
    <section class="author">
      <p class="byline">by <%= author(current.data).name %></p>
      <time datetime="<%= current.date.strftime("%Y-%m-%d") %>" itemprop="datePublished"><%= current.date.to_date.to_s(:long_ordinal) %></time>
    </section>
  </header>
  <section class="article-body">
    <%= current.body %>
  </section>
</article>

<ul id="suggested-reading">
  <% recent.each_with_index do |article, i| %>
    <li class="suggested-reading-card">
      <h2><%= link_to article.title, article %></h2>
      <%= article.summary %>
      <%= link_to 'Read more…', article %>
    </li>
  <% end %>
</ul>
