<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Steve Tooke<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:300italic,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'highlight' %>
    <%= stylesheet_link_tag 'blog' %>
  </head>
  <body>

  <div id='site-header'>
    <div id="site-header-wrapper">
      <h1>
        <a href="/">
          Steve Tooke
        </a>
      </h1>
      <h2>software development flavoured with agile, bdd, ruby and javascript</h2>
    </div>
  </div>
  <div id='main-wrapper'>
    <div id="main" role="main">
      <%= yield %>
    </div>

    <aside id="sidebar">
      <h2>Recent Articles</h2>
      <ol id="recent-articles">
        <% blog.articles[0...5].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
      <% end %>
      </ol>

      <h2>Tags</h2>
      <ul id="tags">
        <% blog.tags.sort.each do |tag, articles| %>
          <li><%= link_to tag, tag_path(tag) %></a></li>
    <% end %>
    </ul>
  </aside>
</div>
  </body>
</html>
