<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Steve Tooke<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:300italic,300|Source+Sans+Pro:300|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'reset' %>
    <%= stylesheet_link_tag 'highlight' %>
    <%= stylesheet_link_tag 'blog' %>
    <%= javascript_include_tag 'track_outbound_links' %>
    <% meta_tags.each do |name,value| %>
      <meta name="<%= name %>" content="<%= value %>">
    <% end %>

  </head>
  <body>

  <div id='site-header'>
    <div id="site-header-wrapper">
      <h1>
        <a href="/">
          Steve Tooke
        </a>
      </h1>
      <h2>software development flavoured with agile, bdd, ruby and javascript</h2>
    </div>
  </div>
  <div id='main-wrapper'>
    <div id="main" role="main">
      <%= yield %>
    </div>

    <aside id="sidebar">
      <ol id="recent-articles">
        <h2>
          Recent Articles
          <a href="/feed.xml" class="feed" title="Subscribe!"><i class="fa fa-rss"></i></a>
        </h2>
        <% blog.articles[0...5].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ol>

      <ul id="tags">
        <h2>Tags</h2>
        <% blog.tags.sort.each do |tag, articles| %>
          <li><%= link_to tag, tag_path(tag) %></a></li>
        <% end %>
      </ul>

      <div id="bio">
        <img class="avatar" src="/images/tooky-avatar.jpg">
        <h2>Steve Tooke</h2>
        <p>
        I am a programmer &mdash; consultant, trainer and coach &mdash;
        passionate about improving my craft and helping others improve
        theirs. I specialise in helping teams continue to deliver
        valuable software by improving their team practices and
        communication, and keeping their code maintainable.
        </p>
        <p>
        I co-organised Bootstrapd, a non-profit conference for
        bootstrapped startups in Europe. I am the co-founder of the
        Software Craftsmanship UK user group, and the HampshiRB ruby
        user group. I have spoken at the Scottish Ruby
        Conference and have run workshops at the London Software
        Craftsmanship Community. I am a member of the Cucumber core
        team.
        </p>
        <p>
        <a href="http://kickstartacademy.io">Kickstart Academy</a>
        </p>
      </div>
    </aside>
    <footer>
      <div id='site-footer'>
        <p>All content copyright Steve Tooke &copy; <%= Time.now.year %> &middot; All rights reserved.</p>
        <p>Find me on <a href="http://twitter.com/tooky">Twitter</a> | <a href="https://plus.google.com/+SteveTooke-Heavies/">Google+</a></a></p>
    </div>
    </footer>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-37664795-2', 'tooky.co.uk');
    ga('send', 'pageview');

  </script>
  </body>
</html>
