<% wrap_layout :layout do %>
  <article>
    <header>
      <h1><%= current_page.title %></h1>
      <section class="author">
        <img class="avatar" src="<%= author.avatar %>">
        <p class="byline">by <%= author.name %></p>
        <time datetime="<%= current_page.date.strftime("%Y-%m-%d") %>" itemprop="datePublished"><%= current_page.date.to_date.to_s(:long_ordinal) %></time>
      </section>
    </header>
    <section class="article-body">
      <%= yield %>
    </section>
    <section class="promo">
      <h5>Like what you've read?</h5>

      <p>We're running <a style="text-decoration: underline" href="http://kickstartacademy.io/courses/bdd-kickstart" onclick="trackOutboundLink('http://kickstartacademy.io/courses/bdd-kickstart'); return false;">BDD Kickstart</a> in <a href="http://kickstartacademy.io/dates/bdd-berlin-germany" onclick="trackOutboundLink('http://kickstartacademy.io/dates/bdd-berlin-germany'); return false;">Berlin on Oct 22-24</a> and in <a href="http://kickstartacademy.io/dates/bdd-atlanta-ga" onclick="trackOutboundLink('http://kickstartacademy.io/dates/bdd-atlanta-ga'); return false;">Atlanta, GA on July 3-4 2014</a>, learn everything you need to be off and running with Behaviour-Driven Development.</p>

    </section>
  </article>
<% end %>
