<% wrap_layout :layout do %>
  <article>
    <header>
      <h1><%= current_page.title %></h1>
      <section class="author">
        <img class="avatar" src="<%= author.avatar %>">
        <p class="byline">by <%= author.name %></p>
        <time datetime="<%= current_page.date.strftime("%Y-%m-%d") %>" itemprop="datePublished"><%= current_page.date.to_date.to_s(:long_ordinal) %></time>
      </section>
    </header>
    <section class="article-body">
      <%= yield %>
    </section>
    <section class="promo">
      <h5>Like what you've read?</h5>

      <p>We're running <a style="text-decoration: underline" href="http://kickstartacademy.io/courses/bdd-kickstart" onclick="trackOutboundLink('http://kickstartacademy.io/courses/bdd-kickstart'); return false;">BDD Kickstart</a> in London on Apr 29-May 1 2014, teaching teams everything they need to be off and running with Behaviour-Driven Development.
      <a style="text-decoration: underline" href="http://kickstartacademy.io/dates/bdd-london" onclick="trackOutboundLink('http://kickstartacademy.io/dates/bdd-london'); return false;">Tickets available here.</a></p>
    </section>
  </article>
<% end %>
