<% wrap_layout :layout do %>
  <article>
    <header>
      <h1><%= current_page.title %></h1>
      <section class="author">
        <img class="avatar" src="<%= author.avatar %>">
        <p class="byline">by <%= author.name %></p>
        <time datetime="<%= current_page.date.strftime("%Y-%m-%d") %>" itemprop="datePublished"><%= current_page.date.to_date.to_s(:long_ordinal) %></time>
      </section>
    </header>
    <section class="article-body">
      <%= yield %>
    </section>
    <section class="promo">
      <h5>Like what you've read?</h5>

      <p>We're running <a style="text-decoration: underline" href="http://kickstartacademy.io/courses/practical-object-oriented-design" onclick="trackOutboundLink('http://kickstartacademy.io/courses/practical-object-oriented-design'); return false;">Sandi Metz's Practical Object Oriented Design</a> in London on June 25-27 and July 3-4 2014, learn to recognize and solve common OO problems...and return home to save money each time you put your hands on the keyboard.
      <a style="text-decoration: underline" href="http://kickstartacademy.io/dates" onclick="trackOutboundLink('http://kickstartacademy.io/dates'); return false;">Tickets available here.</a></p>
    </section>
  </article>
<% end %>
